In [1]:
import seaborn as sns

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [8]:
tips= sns.load_dataset('tips')

In [10]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [28]:
sex= pd.get_dummies(tips['sex'],drop_first=True)

In [17]:
tips['smoker'].nunique()

2

In [34]:
tips=tips.drop('sex', axis=1, inplace=True )

AttributeError: 'NoneType' object has no attribute 'drop'

In [32]:
tips

In [33]:
tips.head()

AttributeError: 'NoneType' object has no attribute 'head'